




<%= form_with(model: @post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>


<ul id="post_list">
  <% @posts.each do |post| %>
    <li> <%= post.title %> </li>
  <% end %>
</ul>
